@font-face {
    font-family: 'Ostrich';
    src: url("../fonts/ostrich-bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dauphine";
    src: url("../../../../fonts/Dauphine-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dauphine";
    src: url("../../../../fonts/Dauphine-Italic.otf") format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "DauphineDings";
    src: url("../../../../fonts/Dauphine-Dings.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Belgika";
    src: url("../fonts/Belgika-8th.otf");
    font-weight: normal;
    font-style: normal;
}


/* -------------------------------------------- VARIABLES ----------------------------------------- */
@font-size: 15px;
@line-height: 19.5px;
@color-canal: #12676a;

/* -------------------------------------------- FLOWS ----------------------------------------- */


.main {
  // outline : 1px solid red;
  -webkit-flow-from: chapterFlow;
          flow-from: chapterFlow;
  position: absolute;
  top: (@page-height/18)*7;
  margin: 0;
  width: (@page-width/18)*12;
  height: (@page-height/18)*9;
}

.excursion {
  // outline : 1px solid blue;
  -webkit-flow-from: excursionFlow;
          flow-from: excursionFlow;
  position: absolute;
  top: 0;
  margin: 0;
  width: (@page-width/18)*14;
  height: (@page-height/18)*6;
}

#flow-chapter  {
  -webkit-flow-into: chapterFlow;
        flow-into: chapterFlow;
}

#flow-excursion  {
  -webkit-flow-into: excursionFlow;
        flow-into: excursionFlow;
}

/* -------------------------------------------- GENERIC CLASSES ----------------------------------------- */
html,
body {
    width: @page-width - (@page-margin-inside + @page-margin-outside);
}
body{
	font-size: @font-size;
	line-height: @line-height;
}
#main {
    width: @page-width - (@page-margin-inside + @page-margin-outside);
}

h1,
h2 {
    color: inherit;
    //margin-top: @line-height * 3;
    //-webkit-region-break-before: always;
}

p {
    margin: 0px;
}
p + p {
    text-indent: @line-height * 2;
}

a {
    text-decoration: none;
    color: inherit;
}

em {
    font-style: italic;
}

div.column {
    float: left;
    padding: 0 @line-height / 2;
    height: 100%;
    box-sizing: border-box;
}

div.column90 { width: 90%; }
div.column60 { width: 60%; }
div.column50 { width: 50%; }
div.column33 { width: 33%; }
div.column25 { width: 25%; }


/* -------------------------------------------- HEADER ----------------------------------------- */
h2 {
    font-family: Ostrich;
    font-size:@font-size*3;
    line-height:@line-height*2;
}

/* -------------------------------------------- BOOK I ----------------------------------------- */

.excursion p {
    font-family : 'Dauphine';
    color : @color-canal;
}



  /* -------------------------------------------- FOOTNOTES ----------------------------------------- */

  .content {
              display: block;
              margin: auto;
              max-width: 150mm;
              text-align: left;
          }

.inlineFootnote {
    display: none;
    color: brown;
    cursor: zoom-out;
}

.inlineFootnote.expanded {
    display: inline;
}

.footnoteRef {
    color:green;
    position: relative;
    top: -5px;
    font-size: 80%;
    margin-left: 4px;
    cursor: zoom-in;
}

.footnoteRef.collapsed {
    display: none;
}



  /* -------------------------------------------- IMAGES ----------------------------------------- */
  img {
      max-width: 100%;
  }

  img {
    position: relative;
    height: 24px;
    margin-bottom: -5px;
    margin-right: 5px;
    cursor: zoom-in;
}

img.expanded {
    height: inherit;
    cursor: zoom-out;
    margin-top: 12px;
    margin-bottom: 12px;
}

.figcaption {
    font-family: 'Dauphine';
  }
