@font-face {
    font-family: "Ostrich";
    src: url("../fonts/ostrich-bold.ttf");
}

@font-face {
    font-family: "Museo";
    src: url("../fonts/MuseoSans_500.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Belgika";
    src: url("../fonts/Belgika-8th.otf");
    font-weight: normal;
    font-style: normal;
}


/* -------------------------------------------- VARIABLES ----------------------------------------- */
@font-size: 15px;
@line-height: 19.5px;

/* -------------------------------------------- FLOW ----------------------------------------- */


.main {
  // outline : 1px solid red;
  -webkit-flow-from: chapterFlow;
          flow-from: chapterFlow;
  position: absolute;
  top: (@page-height/18)*7;
  margin: 0;
  width: (@page-width/18)*12;
  height: (@page-height/18)*9;
}

.excursion {
  // outline : 1px solid blue;
  -webkit-flow-from: excursionFlow;
          flow-from: excursionFlow;
  position: absolute;
  top: 0;
  margin: 0;
  width: (@page-width/18)*14;
  height: (@page-height/18)*6;
}

#flow-chapter  {
  -webkit-flow-into: chapterFlow;
        flow-into: chapterFlow;
}

#flow-excursion  {
  -webkit-flow-into: excursionFlow;
        flow-into: excursionFlow;
}

/* -------------------------------------------- GENERIC CLASSES ----------------------------------------- */
html,
body {
    width: @page-width - (@page-margin-inside + @page-margin-outside);
}
body{
	font-family: serif;
	font-size: @font-size;
	line-height: @line-height;
}
#main {
    width: @page-width - (@page-margin-inside + @page-margin-outside);
}

h1,
h2 {
    color: inherit;
    //margin-top: @line-height * 3;
    //-webkit-region-break-before: always;
}

p {
    margin: 0px;
}
p + p {
    text-indent: @line-height * 2;
}

a {
    text-decoration: none;
    color: inherit;
}

em {
    font-style: italic;
}

div.column {
    float: left;
    padding: 0 @line-height / 2;
    height: 100%;
    box-sizing: border-box;
}

div.column90 { width: 90%; }
div.column60 { width: 60%; }
div.column50 { width: 50%; }
div.column33 { width: 33%; }
div.column25 { width: 25%; }


/* -------------------------------------------- HEADER ----------------------------------------- */
h2 {
    font-family: Ostrich;
    font-size:@font-size*3;
    line-height:@line-height*2;
}

  /* -------------------------------------------- FOOTNOTES ----------------------------------------- */

.footnoteRef{
    color:green;
  }

  /* -------------------------------------------- IMAGES ----------------------------------------- */

img{
    width:150px;
  }

.figcaption {
    font-family: 'Museo';
  }

  /* -------------------------------------------- SHAPE TEST ----------------------------------------- */

  // .shape {
  //     float: left;
  //     shape-outside: circle(10%);
  //     shape-margin: 1em;
  // }
